<style>
div.center {
        text-align: center;
}
</style>

<div class="center">
<h1>Jhonson</h1>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<% if current_user %>    

<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
<%= link_to 'Playlist', Player %>

<% else %>

<%= link_to 'Cadastrar', new_user_registration_path %>

<%= link_to 'Entrar', new_user_session_path %>

<%= link_to 'Playlist', Player %>

<% end %>
</div>
