<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<style>
div.center {
        text-align: center;
}
</style>

<div class="center">
<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= link_to 'Tocar', Music %></td>
        <td><%= link_to 'Editar', edit_player_path(player) %></td>
        <td><%= link_to 'Deletar', player, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova playlist', new_player_path %>
<% if current_user %>    

<%= link_to 'Sair', destroy_user_session_path, method: :delete %>

<% else %>

<%= link_to 'Cadastrar', new_user_registration_path %>

<%= link_to 'Entrar', new_user_session_path %>

<% end %>
</div>
